.body-container{
    position: absolute;
    top: 63px;
    left: 0px;
    width: 1366px;
    height: 924px;
    background: var(---fafafa-light) 0% 0% no-repeat padding-box;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border-radius: 0px 8px 8px 0px;
    opacity: 1;
}