
.home-container{
    position: relative;
    top: 0px;
    
    width: 1031px;
    // left: 297px;
    background-color: rgb(255, 179, 179);

    .container{
        top: 385px;
        left: 200px;
        width: 1031px;
        height: 84px;
        
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-60)/var(--unnamed-line-spacing-70) var(--unnamed-font-family-poppins);
        letter-spacing: var(--unnamed-character-spacing--0-6);
        color: var(---161616-dark);
        text-align: center;
        font: normal normal 600 60px/70px Poppins;
        letter-spacing: -0.6px;
        color: #161616;
        opacity: 0.25;
    }
}