:root {

  /* Colors: */
  ---fafafa-light: #FAFAFA;
  ---161616-dark: #161616;
  --unnamed-color-2541b2: #2541B2;
  
  /* Font/text values */
  --unnamed-font-family-poppins: Poppins;
  --unnamed-font-family-ibm-plex-sans: IBM Plex Sans;
  --unnamed-font-family-ibm-plex-serif: IBM Plex Serif;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-22: 22px;
  --unnamed-font-size-36: 36px;
  --unnamed-font-size-60: 60px;
  --unnamed-font-size-96: 96px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-character-spacing--0-6: -0.6px;
  --unnamed-line-spacing-22: 22px;
  --unnamed-line-spacing-26: 26px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-46: 46px;
  --unnamed-line-spacing-70: 70px;
  --unnamed-line-spacing-96: 96px;
  --unnamed-text-transform-uppercase: uppercase;
  }
  
  /* Character Styles */
  .poppins-—-14pt-small-copy {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---161616-dark);
  }
  .poppins-—-16pt-body {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-26);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---161616-dark);
  }
  .poppins-—-22pt-cta {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-22);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2541b2);
  }
  .poppins-—-22pt-h3 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-22);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2541b2);
  text-transform: var(--unnamed-text-transform-uppercase);
  }
  .poppins-—-36pt-h2 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-36);
  line-height: var(--unnamed-line-spacing-46);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---161616-dark);
  }
  .poppins-—-60pt-h1 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-60);
  line-height: var(--unnamed-line-spacing-70);
  letter-spacing: var(--unnamed-character-spacing--0-6);
  color: var(---161616-dark);
  }
  .poppins-—-96pt-h0 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-96);
  line-height: var(--unnamed-line-spacing-96);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2541b2);
  }
  .ibm-plex-sans-—-14pt-small-copy {
  font-family: var(--unnamed-font-family-ibm-plex-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---161616-dark);
  }
  .ibm-plex-sans-—-16pt-body {
  font-family: var(--unnamed-font-family-ibm-plex-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-26);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---161616-dark);
  }
  .ibm-plex-sans-—-22pt-cta {
  font-family: var(--unnamed-font-family-ibm-plex-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-22);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2541b2);
  }
  .ibm-plex-sans-—-22pt-h3 {
  font-family: var(--unnamed-font-family-ibm-plex-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-22);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2541b2);
  text-transform: var(--unnamed-text-transform-uppercase);
  }
  .ibm-plex-sans-—-36pt-h2 {
  font-family: var(--unnamed-font-family-ibm-plex-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-36);
  line-height: var(--unnamed-line-spacing-46);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---161616-dark);
  }
  .ibm-plex-serif-—-60pt-h1 {
  font-family: var(--unnamed-font-family-ibm-plex-serif);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-60);
  line-height: var(--unnamed-line-spacing-70);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---161616-dark);
  }
  .ibm-plex-serif-—-96pt-h0 {
  font-family: var(--unnamed-font-family-ibm-plex-serif);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-96);
  line-height: var(--unnamed-line-spacing-96);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2541b2);
  }
  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }